body{
background: #000000;
margin:0;
}

#logo{
	padding:2px 2px;
	display:flex;
	align-items:center;
}

#logo img{
	max-width:25%;
	height:auto;	
	vertical-align:middle;
	position:relative;
}

#titre{
	color: #FFF;
	font-family: Inter;
	font-size: 3vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding:2px 2px;
	position: relative;
	vertical-align:middle;
	width:auto;
	text-size-adjust: auto;
}

nav ul li a{
	text-decoration:none;
	color: #FFF;
	font-family: Inter;
	font-size: 2.5vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	position: relative;
}

nav ul li a:hover {
	color: gray;
	text-decoration: underline; 
	cursor: pointer;
}

nav ul{
	list-style:none;
	margin:0px;
	padding-right:7.5%;
}

nav ul li{
	display:inline;
	padding: 15px;
}

nav{
	display:inline;
	position:relative;
	text-align:right;
}

h1{
flex-shrink: 0;
}

#tableau{
	margin-top:2.5%;
	width: auto;
	max-height:100%;
	flex-shrink: 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center; 
}

#tableau img {
  width: 100%;
 height: auto;
 position: relative;
}

#accueil {
color: #FFF;
font-family: Inter;
font-size: 4vw;
font-style: normal;
font-weight: 500; 
line-height: normal;
text-decoration-line: underline;
position: relative; 
text-align: center;
}

h2{
margin-top: 5%;
margin-bottom: 2.5%; 
}

#tableau2 {
	display: flex;
	align-items: center;
}

#tableau2 p{
color: #FFF;
font-weight: 500;
text-align: left;
font-family: Inter;
font-size: 2.5vw;
font-style: normal;
line-height: normal;
position: relative;
margin-left:2.5%;
line-height: 1.8;
text-align: justify;
padding-right: 4%;
}

#tableau2 img {
 width: 35%;
 height: auto;
 position: relative;
 padding-top: 0%;

}

#collection{
color: #FFF;
font-family: Inter;
font-size: 5vw;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
position: relative;
text-align: center;
margin: 0em; 

}

#collection h2 {
margin-bottom: 0.5%; 
}

#sous-titre p {
color: #FFF;
font-family: Inter;
font-size: 4vw;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
text-align: center;
margin-top:0%;
}

.conteneur-images {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
     position: relative;
}

.conteneur-images img {
width : 25%;
height : auto;
}

.conteneur-texte {
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.conteneur-texte p {
    margin: 0; 
    margin-top: 2%;
    font-size: 2.5vw;
}

.conteneur-images2 {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    position: relative;
}

.conteneur-images2 img {
width : 25%;
height : auto;
margin-top: 5%;
}

.conteneur-texte2 {
  color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.conteneur-texte2 p {
    margin: 0; 
    margin-top: 2%;
    font-size: 2.5vw;
}

#contact{
color: #FFF;
font-family: Inter;
font-size: 5vw;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
position: relative;
text-align: center;
}

#peintre {
    width: 25%;
    height: auto;
    position: relative;
}

.adresses{
display: block;
color: #FFF;
font-family: Inter;
font-size: 2vw;
font-weight: 500;
position: relative;
text-align: right;
line-height: 1.5;
align-items: center;
}

.conteneur-contact h5{
border-style : solid; 
color: #FFF; 
border-width : 0.5px; 
height: 100%; 
}

.conteneur-contact {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%; 
}

.reseaux img { 
width: 20%;
height: auto;
position: relative;
}

.formulaire p{
color: #FFF;
font-family: Inter;
font-size: 2vw;
font-weight: 500;
position: relative;
text-align: center;
}

input{
display: block;
margin: 2%;
position: relative; 
margin-left: auto; 
margin-right: auto;
padding: 15px 15px;
width: 30%;
}

#souscrire {
color: white;
background-color: red;
border: none;
}

#souscrire:hover {
color: red;
background-color: white;
cursor: pointer;
}

