body{
	width: 1440px;
height: 4725px;
background: #000000;
}

#logo{
	width: 264px;
height: 200px;
flex-shrink: 0;
padding:2px 80px;
}

#logo img{
	width:300px;
	vertical-align:middle;
}

nav ul li a{
	text-decoration:none;
	padding:2px 50px;
	color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align : right;
  position: relative;
  top: -230px;
  left: 620px;
}

nav ul{
	list-style:none;
}

nav ul li{
	margin:10px;
	display:inline-block;
}

nav{
	display:inline-block;
}

#titre{
	color: #FFF;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding:2px 190px;
	margin-left:100px;
  position: relative;
  top: -120px;
}


h1{
width: 538px;
height: 134px;
flex-shrink: 0;
}



#tableau{
width: 1613px;
height: 728px;
flex-shrink: 0;
position: relative;
  top: -300px;
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 100%; 
  max-height: 100%; 

}

#titre2 h2{
width: 816px;
height: 98px;
color: #FFF;
font-family: Inter;
font-size: 50px;
font-weight: 500;
text-decoration-line: underline;
position: relative;
  top: -350px;
  left: 500px; 
}

#titre2 p{
color: #FFF;
width: 816px;
height: 98px;
font-weight: 500;
text-align: right;
font-family: Inter;
font-size: 25px;
font-style: normal;
line-height: normal;
position: relative;
 top: -300px;
left: 500px; 
}



#tableau2 img {
  width: 400px;
 height: auto;
 position: relative;
 top: -450px;
 left: 50px; 
}

#titre3{
color: #FFF;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
position: relative;
  top: -400px;
  text-align: center;
}

#sous-titre{
color: #FFF;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
  top: -430px;
  text-align: center;
}

.conteneur-images {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
     position: relative;
  top: -400px;
}

.conteneur-images img {
width : 300px;
height : auto;
}

.conteneur-texte {
color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  top: -380px;
}

.conteneur-texte p {
    margin: 0; 
}


.conteneur-images2 {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    position: relative;
  top: -300px;

}

.conteneur-images2 img {
width : 300px;
height : auto;
}

.conteneur-texte2 {
color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  top: -280px;
}

.conteneur-texte2 p {
    margin: 0; 
}









